<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.talentcoach.id11.id11_android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Fullscreen"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:name=".joborganisatie.AlgemeneInfoActivity"-->
            <!--android:label="@string/aic_title"-->
            <!--android:parentActivityName=".HomeActivity" />-->
        <!--<activity-->
            <!--android:name=".communicatie.WerkaanbiedingNavigationFragment"-->
            <!--android:label="@string/werkaanbieding_title"-->
            <!--android:parentActivityName=".communicatie.CommunicatieActivity" />-->
        <!--<activity-->
            <!--android:name=".communicatie.CommunicatieActivity"-->
            <!--android:label="Communicatie"-->
            <!--android:parentActivityName=".HomeActivity" />-->
        <!--<activity-->
            <!--android:name=".competenties.CompetentiesNavigationFragment"-->
            <!--android:label="@string/title_activity_comp__tabbed"-->
            <!--android:parentActivityName=".HomeActivity"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <!--<activity-->
            <!--android:name=".HomeActivity"-->
            <!--android:label="@string/app_name" />-->
        <!--<activity-->
            <!--android:name=".profiel.ProfielFragment"-->
            <!--android:label="Profiel"-->
            <!--android:parentActivityName=".HomeActivity" />-->
        <!--<activity-->
            <!--android:name=".profiel.ProfielEditActivity"-->
            <!--android:label="Profiel wijzigen"-->
            <!--android:parentActivityName=".profiel.ProfielFragment" />-->
        <!--<activity-->
            <!--android:name=".joborganisatie.JobNavigationFragment"-->
            <!--android:label="Info"-->
            <!--android:parentActivityName=".HomeActivity" />-->
        <activity
            android:name=".BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation" />
    </application>

</manifest>